@use 'variables' as *;
@use 'reset';


.container {
  max-width: $container-max;
  margin: 0 auto;
  padding: 0 $spacing-6;

  @media (max-width: $bp-mobile) {
    padding: 0 $spacing-4;
  }
}

.page {
  padding-top: $nav-height;
  min-height: 100vh;
}
